<p> Current teams in the competition</p>

<style>
        body {
          background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
        }
    </style>

<%@teams.each do |team|%>
    <h4> Team Section</h4>
    <p>Team Name:</p><%= link_to team.name, team%>
    <br>
    <p>Team ID:</p><%=team.id>
    <br>
    <p>Team Location:</p><%= team.location%>
    <br>
    <%= %>
    <hr>
<%end%>
