<p> Page with a list of all current teams</p>


<%@teams.each do |team|%>
    <h4> Team Section</h4>
    <%= link_to team.name, team%>
    <br>
    <%= team.location%>
    <br>
    <%= %>
    <hr>
<%end%>