<h1> Current teams in the competition</h1>

<style>
        body {
          background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
        }
    </style>

<%@teams.each do |team|%>
    <h4> Team Info</h4>
    <p>Team Name:
    <%= link_to team.name, team%></p>
    <br>
    <p>Team ID:
    <%= team.id%></p>
    <br>
    <p>Team Location:
    <%= team.location%></p>
    <br>
    <%= %>
<%end%>
