<h1> Welcome to the Badminton Tournament! </h1>
<style>
    body {
      background-image: url('https://img.freepik.com/free-vector/pastel-abstract-nebula_91008-229.jpg?w=2000');
    }
</style>
<% if !user_signed_in?%>
<%= link_to "Log in here", "/users/sign_in"%> 

<%end%>
<br>
<% if user_signed_in? %>
 <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"nav-link"%>
<br>
<%= link_to "Profile Page", current_user, class:"btn btn-sucess" %>
<br>

<% end %>